:root {
    --font-family: "Montserrat", sans-serif;

    --text-size: 16px;
    --title-size: 24px;

    --text-light: #F5F5F5;
    --text-mid: #E0DCEA;
    --text-dark: #200343;

    --shadow: #100D3F;
    --shadow-darker: #0B0935;

    --background-pink: #C30AC7;
    --background-blue: #3F4FFD;
    --background-dark: #16134A;
    --background-purple-dark: #1C1654;
    --background-purple-light: #2C1855;

    --box-shadow-dark: var(--shadow) 0 7px 29px 0;
    --box-shadow-darker: var(--shadow-darker) 0 7px 29px 0;

    --background-gradient-light: linear-gradient(to right bottom, var(--background-pink), var(--background-blue));
    --background-gradient-dark: linear-gradient(to bottom, var(--background-purple-dark), var(--background-purple-light));
    
    --border-radius: 2rem;
    --padding: 1rem;

    --transition: all 0.3s ease-in-out;
}

.el-dialog {
    background: transparent !important;
    width: 80% !important;
    max-width: 1000px;
}

.el-dialog__header {
    display: none;
}

.el-dialog__body {
    background-image: url("../assets/modal_background.png");
    background-size: cover;
    background-position: center;
    box-shadow: var(--box-shadow-dark);
    border-radius: var(--border-radius);
}

.el-message-box {
    width: auto !important;
    background-color: var(--background-dark) !important;
    border: none !important;
    border-radius: var(--border-radius) !important;
    box-shadow: var(--box-shadow-dark) !important;
    padding: var(--padding);
    padding-bottom: var(--padding) !important;
}

.el-message-box__title,
.el-message-box__headerbtn .el-message-box__close {
    color: var(--text-light) !important;
    font-size: var(--title-size) !important;
}

.el-message-box__content {
    color: var(--text-mid) !important;
    font-size: var(--text-size) !important;
}

.el-message-box__message > p > strong {
    color: var(--background-pink);
}

.el-button {
    background: var(--background-dark) !important;
    color: var(--text-light) !important;
    border: 1px solid var(--text-light) !important; 
}

.el-button--primary {
    background-image: var(--background-gradient-light) !important;
    color: var(--text-light) !important;
    border: none !important; 
}

.el-button--small {
    font-size: var(--text-size) !important;
}